.navbar {
    background-color: #FFC300  ;
    color: #900C3F;
    padding: 1rem 1rem;
    align-items: center;
    font-family: sans-serif;
    border-bottom: 3px solid #581845;
    border-radius: 5px;
}