.card {
  background-color: #C70039;
  width: 70%;
  color: white;
  padding: 2rem 2rem;
  justify-self: center;
  border-radius: 5px;
  margin-top: 30px;
  font-family: sans-serif;
  border: 3px;
  border-style: solid;
  border-color: #581845;
}